<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam at et eveniet iusto, molestiae
      officiis provident! Accusamus cum dolor harum incidunt itaque iusto quisquam repellendus voluptatum? Iste, nulla
      quia.
    </p>
  </div>
</div>